
@model Blog.App.Data.Models.Role

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="slim-pageheader">
    <ol class="breadcrumb slim-breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Role Manager</li>
    </ol>
    <h6 class="slim-pagetitle">Role - Edit</h6>
</div><!-- slim-pageheader -->

<div class="section-wrapper">
    <form asp-area="Admin" asp-controller="Role" asp-action="Edit" asp-route-id="@Model.RoleId" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="RoleId" />
        <div class="form-layout form-layout-4">

            <div class="row mg-t-20">
                <label class="col-sm-4 form-control-label" style="font-weight:bold"> Edit - @Model.RoleName</label>
                <div class="col-sm-8 mg-t-10 mg-sm-t-0">

                </div>
            </div><!-- row -->

            <div class="row mg-t-20">
                <label class="col-sm-4 form-control-label"></label>
                <div class="col-lg-3">
                    <label class="ckbox">
                        <input type="checkbox" name="changeRoleName" id="changeRoleName" checked="checked" onclick="myFunction()"><span>Change Role Name</span>
                    </label>
                </div><!-- col-4 -->
                <div class="col-lg-3">
                    <label class="ckbox">
                        <input type="checkbox" asp-for="IsAdmin"><span>Is Admin User </span>
                    </label>
                </div><!-- col-4 -->
            </div>
            <div id="catNameDiv">
                <div class="row">
                    <label class="col-sm-4 form-control-label">Role Name <span class="tx-danger">*</span></label>
                    <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                        <input type="text" class="form-control" asp-for="RoleName">
                        <span asp-validation-for="RoleName" class="text-danger"></span>
                    </div>
                </div><!-- row -->
            </div>
            <div class="row mg-t-20">
                <label class="col-sm-4 form-control-label">Role Discription <span class="tx-danger">*</span></label>
                <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                    <input type="text" class="form-control" asp-for="RoleDescription">
                    <span asp-validation-for="RoleDescription" class="text-danger"></span>
                </div>
            </div>
            <div class="form-layout-footer mg-t-30">
                <button class="btn btn-primary bd-0">Submit Changes</button>
                <button class="btn btn-secondary bd-0">Cancel</button>
            </div><!-- form-layout-footer -->
        </div><!-- form-layout -->
    </form>
</div><!-- section-wrapper -->
<div>
    <a asp-area="Admin" asp-controller="Role" asp-action="Index">Back to List</a>
</div>

@section Scripts
{
    <script>
        function myFunction() {
            // Get the checkbox
            var checkBox = document.getElementById("changeRoleName");
            // Get the output text
            var catNameDiv = document.getElementById("catNameDiv");

            // If the checkbox is checked, display the output text
            if (checkBox.checked == true) {
                catNameDiv.style.display = "block";
            } else {
                catNameDiv.style.display = "none";
            }
        }
    </script>
}