@model Blog.App.Data.Models.Post
        
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="slim-pageheader">
    <ol class="breadcrumb slim-breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Post Manager</li>
    </ol>
    <h6 class="slim-pagetitle">Post-Delete</h6>
</div><!-- slim-pageheader -->
<div class="section-wrapper mg-t-20">

    <div class="form-layout form-layout-7">
        <div class="row no-gutters">
            <div class="col-5 col-sm-4">
                ID :
            </div><!-- col-4 -->
            <div class="col-7 col-sm-8">
                <input class="form-control" type="text" asp-for="PostId">
            </div><!-- col-8 -->
        </div><!-- row -->
        <div class="row no-gutters">
            <div class="col-5 col-sm-4">
                Title :
            </div><!-- col-4 -->
            <div class="col-7 col-sm-8">
                <input class="form-control" type="text" asp-for="Title">
            </div><!-- col-8 -->
        </div><!-- row -->
        <div class="row no-gutters">
            <div class="col-5 col-sm-4">
                Category :
            </div><!-- col-4 -->
            <div class="col-7 col-sm-8">
                <input class="form-control" type="text" asp-for="Cat.CatName">
            </div><!-- col-8 -->
        </div><!-- row -->
        <div class="row no-gutters">
            <div class="col-5 col-sm-4">
                Owner :
            </div><!-- col-4 -->
            <div class="col-7 col-sm-8">
                <input class="form-control" type="text" asp-for="Author.UserName">
            </div><!-- col-8 -->
        </div><!-- row -->
        <div class="row no-gutters">
            <div class="col-5 col-sm-4">
                Author Name :
            </div><!-- col-4 -->
            <div class="col-7 col-sm-8">
                @if (Model.AuthorName != null)
                {
                    <input class="form-control" type="text" asp-for="AuthorName">
                }
                else
                {
                    <input class="form-control" type="text" asp-for="Author.UserName">
                }
            </div><!-- col-8 -->
        </div><!-- row -->
        <div class="row no-gutters">
            <div class="col-5 col-sm-4">
                Date Create :
            </div><!-- col-4 -->
            <div class="col-7 col-sm-8">
                <input class="form-control" type="text" asp-for="DateCreate">
            </div><!-- col-8 -->
        </div><!-- row -->
    </div><!-- form-layout -->
</div><!-- section-wrapper -->
<div style="text-align:center !important" class="form-layout-footer mg-t-30">
    <form asp-area="Admin" asp-controller="Post" asp-action="Delete" asp-route-id="@Model.PostId">
        <input type="hidden" asp-for="PostId" />
        <input type="submit" value="Are you sure to delete !? " class=" btn btn-danger" />
        <a asp-area="Admin" asp-controller="Post" asp-action="Index" class=" btn btn-success bd-0"> Back to list</a>
    </form>
</div>

